# Ignorar todo por defecto
*

# Permitir carpetas específicas
!code/
!output/
!logs/
!raw_data/

# Dentro de code, permitir solo .do y .py
code/*
!code/**/*.do
!code/**/*.py
!code/**/*.R

# Dentro de output, permitir todo
output/*
!output/**

# Dentro de logs, permitir todo
logs/*
!logs/**

# Dentro de raw_data, permitir solo concordancias .txt
raw_data/*
!raw_data/concordance/
raw_data/concordance/*
!raw_data/concordance/**/*.txt

# Ignorar otros directorios
processed/
docs/
temp/