# Ignorar todo por defecto
*

# Permitir carpetas específicas
!code/
!output/
!logs/

# Dentro de code, permitir solo .do y .py
code/*
!code/**/*.do
!code/**/*.py
!code/**/*.R

# Dentro de output, permitir todo
output/*
!output/**

# Dentro de logs, permitir todo
logs/*
!logs/**

# Ignorar datos y otros directorios
raw_data/
processed/
docs/
temp/
